* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-gradient {
    background: linear-gradient(
        45deg,
        rgb(119, 3, 252),
        rgb(91, 2, 192),
        rgb(67, 1, 141),
        rgb(105, 2, 222),
        rgb(119, 3, 252)
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: shine 8s linear infinite;
}

@keyframes shine {
    100% {
        background-position: 200% center;
    }
}
